# 04台形の面積・全パターン出力

In [1]:
import os
import pandas as pd

U_MIN,U_MAX = 1,9
B_MIN,B_MAX = 1,9
H_MIN,H_MAX = 1,9
INPUT_TEST_CSV = "data/04test-input.csv"  # claudeで出力した.csv

In [2]:
df_input = pd.read_csv(INPUT_TEST_CSV)
df_input

    U  B  H
0   1  1  1
1   9  9  9
2   1  9  9
3   9  1  9
4   9  9  1
.. .. .. ..
95  5  5  5
96  6  6  6
97  7  7  7
98  8  8  8
99  1  2  1

[100 rows x 3 columns]

In [10]:
def solve(input_list):
    U, B, H = map(int,input_list[0].split())
    R = (U+B) * H / 2
    
    output_list = [
        f"({U} ＋ {B}) × {H} ÷ 2 = {R:.1f}",
        f"答えは{R:.1f}cm^2です",
    ]
    return output_list

In [11]:
def output_all(out_xz_filename):
    all_inputs = [[f"{u} {b} {h}"] for u,b,h in zip(df_input['U'],df_input['B'],df_input['H'])]
    all_outputs = []

    for answer_id in range(len(all_inputs)):
        all_outputs.append(solve(all_inputs[answer_id]))        # 解答を求める

    df_all = pd.DataFrame({"in":all_inputs, "out":all_outputs})
    df_all.index += 1
    os.makedirs(os.path.dirname(out_xz_filename), exist_ok=True)
    df_all.to_csv(out_xz_filename)

output_all("data/answer.csv.xz")

In [9]:
U, B, H = map(int,'1 1 1'.split())