# 10FizzBuzz・パターン出力

In [1]:
import os
import pandas as pd

INPUT_TEST_CSV = "data/10test-cases.csv"  # claudeで出力した.csv

In [5]:
df_input = pd.read_csv(INPUT_TEST_CSV)
df_input.index += 1
df_input

      N    M
1     1   10
2     5   15
3    10   20
4    15   30
5     1   15
..   ..  ...
96   96   98
97   97   99
98   98  100
99    1  100
100  50  100

[100 rows x 2 columns]

In [6]:
def solve(input_list):

    # 入力を受け取る
    N, M = map(int, input_list[0].split())

    result = []
    for i in range(N, M+1):
        if i % 15 == 0:
            result.append("FizzBuzz")
        elif i % 3 == 0:
            result.append("Fizz")
        elif i % 5 == 0:
            result.append("Buzz")
        else:
            result.append(str(i))
    
    return [" ".join(result)]

In [7]:
def output_all(out_xz_filename):
    all_inputs = [[f"{n} {m}"] for n,m in zip(df_input['N'],df_input['M'])]
    all_outputs = []

    for answer_id in range(len(all_inputs)):
        all_outputs.append(solve(all_inputs[answer_id]))        # 解答を求める

    df_all = pd.DataFrame({"in":all_inputs, "out":all_outputs})
    df_all.index += 1
    os.makedirs(os.path.dirname(out_xz_filename), exist_ok=True)
    df_all.to_csv(out_xz_filename)

output_all("data/answer.csv.xz")