<a href="https://colab.research.google.com/github/YasuharuSuzuki/24_programing1/blob/main/" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section3-4 文字列と演算子

## 参考サイト
### [参考サイト1【Python入門】2-1. 文字列 (string)](https://utokyo-ipp.github.io/2/2-1.html)
### [参考サイト2【Python早見表】8. 文字列](https://chokkan.github.io/python/08str.html)

## サンプルプログラム6　文字列の作り方
- Pythonでの文字列は、文字の並びをシングルクォート '...'、もしくはダブルクォート "..." で囲んで記述します。
#### 文字列の例

In [2]:
dagashi1 = "ヤッチャンタコ(21円)"
dagashi2 = "チロルリング(5円)"
dagashi3 = "スーパーキャンディ(110円)"
print(dagashi1, dagashi2, dagashi3)

ヤッチャンタコ(21円) チロルリング(5円) スーパーキャンディ(110円)

#### ダブルクォートを含んだ文字列
- ダブルクォート "..." を文字列中に使いたいときは、文字列のをシングルクォート '...' で囲んで記述するとそのまま使用できます。

In [3]:
dagashi1 = 'ヤッチャンタコ"21円"'
print(dagashi1)

ヤッチャンタコ"21円"

#### シングルクォートを含んだ文字列
- 反対にシングルクォート '...'を文字列中に使いたいときはダブルクォート "..." で文字列を宣言すると使用できます。

In [5]:
dagashi2 = "チロルリング'5円'"
print(dagashi2)

チロルリング'5円'

### エスケープシーケンス
- エスケープシーケンス（escape sequence）とは、文字列の中に通常は表記できない特殊な文字を混在させるために用いられる特別な記号のことです
- Pythonでは文字列中に \ を使用することで特殊文字として表現でき、よく使用されるのでいいますと \n（改行文字）や \t（タブ文字）などがあります
#### 改行を含んだ文字列

In [6]:
# 改行コードを含んだ文字列を作成
dagashi_all = "ヤッチャンタコ(21円)\nチロルリング(5円)\nスーパーキャンディ(110円)"
print(dagashi_all)

ヤッチャンタコ(21円)
チロルリング(5円)
スーパーキャンディ(110円)

#### ダブルクォートを含んだ文字列
- ダブルクォート \" や シングルクォート \' もエスケープシーケンスを使うことで、文字列の定義の仕方に関わらず利用することができます

In [7]:
# エスケープシーケンスでダブルクォートを含んだ文字列を作成
dagashi3 = "スーパーキャンディ\"110円\""
print(dagashi3)

スーパーキャンディ"110円"

### 複数行の文字列
#### """で囲んだ複数行の文字列

In [9]:
dagashi_all = """ヤッチャンタコ(21円)
チロルリング(5円)
スーパーキャンディ(110円)"""
print(dagashi_all)

ヤッチャンタコ(21円)
チロルリング(5円)
スーパーキャンディ(110円)

---
---
---
---
---

## 練習プログラム6　文字列の作り方 (1点)
エスケープシーケンスを使った文字列を宣言して出力してみましょう。題材は何でも良いです

---
---
---
---
---

## サンプルプログラム７　文字列の連結、繰り返し
### 文字列の連結
- \+ (プラス) 記号を用いることで文字列を連結することができます

In [3]:
# "佐藤" と "さん" を”＋”演算子で連結した文字列を作成
name = "佐藤" + "さん"
name

'佐藤さん'

#### 変数a、b、cに入れた文字列連結した文字列を作る

In [6]:
a = "Password付きZIPファイルを送ります、"
b = "Passwordを送ります、"
c = "Angoka（暗号化）、"
d = "Protocol（プロトコル）"
print(a + b + c + d)

Password付きZIPファイルを送ります、Passwordを送ります、Angoka（暗号化）、Protocol（プロトコル）

### 数値と文字列を連結する
- 数値と文字列を \+ (プラス) 記号で連結するとエラーになるので注意しましょう

In [7]:
price = 3980 + "円"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- 上記のエラーは、 + (プラス) 記号に整数型(int)と文字列型(str)を渡すのはサポートされていません、と書いてあります

#### 数値を文字列に変換して連結する
- 数値と文字列を連結するには、数値を str() を使用して文字列に変換してから + (プラス) 記号で連結します

In [8]:
# 数値を文字列に変換して連結した文字列を作成
price = str(3980) + "円"
price

'3980円'

#### 計算結果を文字列に変換して連結する
- 計算結果をstr()で括って文字列と連結することも可能です

In [9]:
students = 39
dagashi_price = 21
total_price = str(students * dagashi_price) + "円"
total_price

'819円'

### 複数文字の繰り返し
- \* を使うことで、文字列を繰り返した文字列を作ることが出来ます

In [10]:
# a を 3回繰り返した文字列を作成
"a" * 3

'aaa'

In [11]:
# abc を 3回繰り返した文字列を作成
"abc" * 3

'abcabcabc'

#### 文字の繰り返しを棒グラフの代わりにする

In [44]:
symbol = "*"
print("東京", symbol * 12)

東京 ************

In [45]:
print("金沢", symbol * 6)

金沢 ******

---
---
---
---
---

## 練習プログラム７　文字列の連結、繰り返し (1点)
- 何らかの計算をおこなって、計算結果を変数に格納しましょう
- 変数をstr()で括って文字列と連結して出力しましょう。

---
---
---
---
---

## サンプルプログラム8 [ ] で文字列を取り出す
### 文字を取り出す
- 文字列に対して [ ] で位置を指定して文字を取り出すことができます
- 指定する位置は0で始まる数字で指定するのでご注意下さい。
  - 1文字目を取り出すときは0を指定します。
  - 2文字目を取り出すときは1を指定します。
  - 100文字目を取り出すときは99を指定します。

In [19]:
student_id = "ABCDEFG123456"

# 3文字目を取り出す
student_id[2]

'C'

- マイナス値で位置を指定すると最後からの位置の指定になります
  - -1 を指定することで最後の文字を取り出すことが出来ます
  - -2 を指定すると最後から２つめの文字を取り出すことが出来ます

In [20]:
# マイナス値でインデックスを指定して最後の文字を取り出す
student_id[-1]

'6'

#### 値の変更はできない
- 文字列の要素を指定して、その位置にある文字を変更することはできません

In [48]:
student_id[2] = 'w'

TypeError: 'str' object does not support item assignment

### 部分文字列を取り出す(スライス)
- 位置を指定するときにコロン : で区切って 開始位置 : 終了位置 を指定することで部分文字列を取り出すことが可能です（この機能をスライスと言います）
- 開始位置だけを指定すると、開始位置以降の文字列をすべて取り出すことが出来ます

In [22]:
# 8文字目以降を全部取り出す
flavor_snack_info = "Yacchan Ika is a flavorful snack of squid with a sauce on the squid's feet, which can also be used as a snack for alcoholic beverages!"
flavor_snack_info[8:]

"Ika is a flavorful snack of squid with a sauce on the squid's feet, which can also be used as a snack for alcoholic beverages!"

In [26]:
# 8文字目～3文字を取り出す
flavor_snack_info[8:11]

'Ika'

In [27]:
# 後ろから10文字目までを全部取り出す
flavor_snack_info[:-10]

"Yacchan Ika is a flavorful snack of squid with a sauce on the squid's feet, which can also be used as a snack for alcoholic "

#### 文字列の長さを超えた範囲を指定する
- 文字列の長さはlen()関数を使用して取得できます

In [28]:
len(flavor_snack_info)

134

- 文字列長を超えて指定しても、エラーにはなりません

In [29]:
flavor_snack_info[:200]

"Yacchan Ika is a flavorful snack of squid with a sauce on the squid's feet, which can also be used as a snack for alcoholic beverages!"

### ステップがある書式
- ステップを指定することにより、決まった間隔で配列の一部を取り出すことができます
- スライスでコロン : を２つ書き、一番うしろに数字を入力すると、その値がステップとなります
#### 文字列から１つ飛ばしで文字を取り出す
- ステップに2を指定することで、文字列から１つ飛ばしで部分文字列として取り出すことができます

In [30]:
print(student_id)
print(student_id[::2])

ABCDEFG123456
ACEG246

#### 4文字目から1文字飛ばしで取り出す
- ステップと一緒に開始位置を指定することも可能です

In [31]:
print(student_id)
print(student_id[3::2])

ABCDEFG123456
DF135

#### 文字列の後ろから1つ飛ばしで文字を取り出す
- ステップにマイナス値を指定することも可能です

In [32]:
print(student_id)
print(student_id[::-2])

ABCDEFG123456
642GECA

#### 文字列を逆順にする
- ステップに-1を指定するだけで文字列を逆順にできます

In [33]:
print(student_id)
print(student_id[::-1])

ABCDEFG123456
654321GFEDCBA

---
---
---
---
---

## 練習プログラム8 [ ] で文字列を取り出す (1点)
- スライスを使って文字列から部分文字列を抽出し、出力してみましょう。題材は何でもよいです。